@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Rajdhani, sans-serif;
    font-weight: 300px;
    background-color: #1F1F1F;
    color: #fffffffa;
}

/*text fade for page*/

.fadein {
    animation-name: fadein;
    animation-duration: 10s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



/*headers and logo*/

#menu, #logo {
    line-height: 130px;
} 

h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fffffffa;
}

#logo {
    float: left;
    max-width: 50%;
    padding: 20px;
}

/*navigation menu*/

#menu { 
    font-size: 160%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #fffffffa;
}

.active {
    border-bottom: 2px solid #fffffffa;
}

/* hero image and cover text*/

#hero-outer {
    height: 900px;
    width: 100%;
    overflow: hidden;
    position: relative;
    /* padding-left: 50px;
    padding-right: 50px; */
}

#hero-image {
    height: 900px;
    width: 100%;
    background: url(../images/hero-image.png) no-repeat center center;
    /* background-size: cover; */
   

    /*zoom loading effect on loading page*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

#cover-text, #cover-text h2 {
    color: #fffffffa;
}
/*zoom level for hero image*/

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 150%;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 300px;

    /* padding-top: 150px;
    padding-left: 100px; */

    background: red;

    bottom: 300px;
    left: 33%;

    position: absolute;
}

/* releases section*/

#media-section {
    height: 900px;
    /* display: flex;
    flex: auto; */
    /* justify-content: space-evenly; */
}

#media-section > h1 {
    font-size: 150%;
    padding-top: 20px;
    padding-left: 20px; 
}

.container-releases {
    padding: 30px;
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    overflow: hidden;
    width: auto;
    height: 100%;
    
  }

  .container-releases > div {
      flex: 1 1 50%;
      justify-content: center;
  }

  
