@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Roboto&display=swap');

:root {
    --base-black: #1f1f1f;
    --base-white: #fffffffa;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Rajdhani, sans-serif;
    font-weight: 300;
    background-color: var(--base-black);
    color: var(--base-white);
}

/*headers and logo*/

h1,
h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--base-white);
}

#logo {
    min-width: 300px;
    max-width: 50%;
    padding: 1rem;
}

/*navigation menu*/

.navbar {
    background-color: var(--base-black);
    height: 100%;
}

.navbar ul {
    display: flex;
    flex-direction: row-reverse;
}

#menu {
    font-size: 140%;
    letter-spacing: 4px;
}

#menu li {
    list-style-type: none;
    padding: 10px;
    margin: 0 5px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid var(--base-white);
}

/*responsive nav bar at 800px and below*/

@media screen and (max-width:800px) {
    .container {
        flex-wrap: wrap;
    }  
    #logo {
        max-width: 100%;
        padding: 1rem 1rem 0;
    }   
}

/*responsive nav bar at 450px and below*/

@media screen and (max-width:450px) {
    .container {
        flex-wrap: wrap;
    }     
    .navbar ul {
        flex-direction: column-reverse;
        align-items: center;
    }
}

/*Utilities*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*underline animation thnaks to paullund.co.uk */

.underline {
    position: relative;
}

.underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--base-white);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.underline:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

/* hero image and cover text*/

#hero-outer {
    height: 85vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 85vh;
    width: 100%;
    background: url(../images/hero-image.png) no-repeat center center;
    background-size: cover;
}

#cover-text,
#cover-text h2 {
    color: var(--base-white);
}

#cover-text {
    font-size: 150%;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    width: 400px;
    padding: 10px;
    bottom: 18%;
    left: 10%;
    position: absolute;
}

#cover-text h2 {
    margin: 15px 0;
}

/*media query for cover text on smaller screens*/

@media screen and (max-width:800px) {
    #cover-text {
        font-size: 120%;
        width: 270px;
        bottom: 12%;
    }
    #cover-text h2 {
        font-size: 130%;
    }
}


@media screen and (max-width: 470px) {
    #cover-text {
        font-size: 100%;
        width: 270px;
        bottom: 12%;
    }
    .about-me-btn {
        font-size: 1rem;
    }
}

.about-me-btn {
    font-size: 1.5rem;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-left: 10px;
    bottom: 7%;
    left: 10%;
    position: absolute;   
}

.about-me-btn a {
    text-decoration: none;
    color: var(--base-white);
}

/*animation for about me button*/

.about-me-btn a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f11616;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.about-me-btn a:hover:before {
    visibility: visible;
    width: 100%;
}

/* releases section*/

#releases-section {
    width: 100vw;
}

.releases-text {
    display: flex;
    text-align: center;
    width: 100%;
}

.releases-text p {
    font-size: 120%;
    padding: 0 1.5rem;
}

#releases-section h1 {
    padding: 1.25rem;
}

.releases-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.iframe {
    padding: 1rem;
}


/*gigs section*/

#gigs-section {
    background-color: var(--base-black);
}

.gigs-container {
    background: url(../images/gigs-section.jpg) no-repeat center center;
    display: flex;
    justify-content: space-evenly;
}

#gigs-section h1 {
    font-size: 150%;
    padding: 1.5rem;
}

.gig-info {
    padding: 1rem;
    box-sizing: border-box;
}

#gigs-section p {
    font-size: 1.25rem;
    padding: 3px;
}

/*media queries to reduce text size on medium and smaller screens*/

@media screen and (max-width:500px) {
    #gigs-section p {
        font-size: 1rem;
    }
    #gigs-section h2 {
        font-size: 100%;
    }
}

@media screen and (max-width:400px) {
    #gigs-section p {
        font-size: 0.9rem;
    }
    #gigs-section h2 {
        font-size: 90%;
    }
}
/*connect section*/

#connect-section h1 {
    font-size: 150%;
    padding: 1.5rem;
}


.connect-container {
    background: url(../images/releases-section.jpg) no-repeat center center;
    display: flex;
    min-height: 60vh;
    justify-content: center;
    align-items: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    color: var(--base-white);
    background-color: rgba(60, 60, 60, 0.6);
    padding: 1rem;
    max-width: 80vw;
    font-size: 110%;
}

.signup-form h2 {
    color: var(--base-white);
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: var(--base-white);
    width: 100%;
    min-height: 2rem;
    margin: 5px 0 20px 0;
    border: 1px solid var(--base-white);
    border-radius: 2px;
}

.text-input:hover {
    border-color: #f11616;
}

.connect-checkbox {
    display: flex;
    padding: 0 1rem 1rem;
    justify-content: center;
}

.connect-checkbox div {
    font-size: 110%;
    padding-right: 1.5rem;
}

.connect-textarea {
    resize: none;
    min-height: 6rem;
    border-radius: 2px;
}

.connect-btn {
    margin-top: 1rem;
    border-radius: 2px;
    border: 2px solid var(--base-white);
    font-family: inherit;
    font-size: 120%;
    text-transform: uppercase;
    padding: 1rem 2rem;
    text-align: center;
    background-color: transparent;
    color: var(--base-white);
    display: block;
}

/*animation fade for button hover*/

@keyframes fade {
    from {background-color: transparent; color: var(--base-white);}
    to {background-color: #f11616; color: var(--base-white);}
}

.connect-btn:hover {
    animation-name: fade;
    animation-duration: 3s;
}

/*footer*/

footer {
    min-height: 100%;
    bottom: 0;
}

.social-networks {
    text-align: center;
    justify-content: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: var(--base-white);
}