@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Rajdhani, sans-serif;
    font-weight: 300px;
    background-color: #1F1F1F;
    color: #FFFFFF;
}

/*headers and logo*/

h1, h2 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #FFFFFF;
}

#logo {
    float: left;
    max-width: 50%;
}